/*Limpar formatacoes padrao*/
*{
		margin: 0px;
		padding: 0px;
}

body{
	font-size: 1em;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	background: #EBEDEF;
}
/*Layout*/

.cabecalho{
	background: #F1C40F;
	padding: 15px;
	text-align: center;
}
.logo, .menu{
	padding: 10px;
}

/*FormatacaoMenu*/
a{
	text-decoration: none;
	font-weight: bold;
}
a:link,a:visited{
	color: #f7b600;
}
a:hover{
	text-decoration: underline;
}
.cabecalho a:link, .cabecalho a:visited{
	color: white;
	padding: 8px 12px;
}
.cabecalho a:hover{
	color: #f7b600;
	background: #fff;
	text-decoration:none;
}
/*FormatacaoGeral*/

h1{
		color:#4e4e4e ;
		font-size: 2.5em;
}
h2{
	color: #f7b600;
}

h4{
	font-size: 32px;
}
#data-postagem{
	font-size: 0.8em;
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: block;
}
img{
	width: 500px;
}
.branco{
	color: #FFF;
}
p{
	margin: 2px;
}
/*Area das materias*/
.principal{
	width: 880px;
	margin: 0 auto;
	padding: 15px;
}
#postagem,#menulateral{
	background: white;
}
#postagem{
	width: 560px;
	float: left;
}
#bold{
	font-weight: bold;
}

#menulateral{
	width: 260px;
	float: right;
	padding: 10px;
	margin-bottom: 20px;
}
#texto-lateral{
	font-size: 0.8em;
}
#titulo{
	background: #CCD1D1;
	padding: 5px;
}
.conteudo-lateral{
}
#area-postagem{
	padding: 20px;
	margin-bottom: 20px;
}
#rodape{
	clear: both;
	background: grey;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}



